body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #cccccc;

}
.center {
    width: 300px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.center input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
}
.center button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: #98FB98;
    color: white;
    cursor: pointer;
}
.center button:hover {
    background-color: #2a812a;
}